.sl-center {
    text-align: center;
}
p {
    display: inline;
    padding: 20px 0;
}
h6 {
    display: inline;
    margin: 0 0 0 8px;
}

.license {
    object-fit: contain;
    object-position: center;
    height: auto;
    margin: 0 auto;
}
.botones {
    display: flex;
    justify-content: space-evenly;
}

.card {
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.52);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.52);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.52);
    border-radius: 10px;
}

.rounded-circle {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.52);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.52);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.52);
}

.icon-container {
    text-align: center;
}
