<h4>Documentation</h4>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-5">
            <div class="card">
                <div class="card-body" *ngIf="driver">
                    <div class="sl-center">
                        <img [src]="driver.profileImageUrl" alt="user" class="rounded-circle" height="250"
                            width="250" />
                    </div>
                    <div class="mt-3">
                        <p class="text-muted">Full name: </p>
                        <h6>{{driver.Name}} {{driver.Lastname}}</h6> <br>
                        <p class="text-muted p-t-30 db">Email: </p>
                        <h6>{{driver.Email}}</h6> <br>
                        <p class="text-muted p-t-30 db">Phone number: </p>
                        <h6>{{driver.PhoneNumber}}</h6> <br>
                        <p class="text-muted p-t-30 db">Bank: </p>
                        <h6>{{driver.NameBank}}</h6> <br>
                        <p class="text-muted p-t-30 db">Bank Account: </p>
                        <h6>{{driver.BankAccount}}</h6> <br>
                        <p class="text-muted p-t-30 db"> <strong>SSN: </strong></p>
                        <h6>{{driver.SSN}}</h6>
                    </div>
                    <div class="botones mt-3">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-outline-danger" data-toggle="modal"
                            data-target="#exampleModal" (click)="setVariableFalse()">
                            deny access
                        </button>
                        <button class="btn btn-outline-success" data-toggle="modal" data-target="#exampleModal"
                            (click)="setVariableTrue()">provide access</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-7">
            <div class="card p-3" *ngIf="driver">
                <img class="license" [src]="driver.driverLicenseImageUrl" alt="" width="500">
            </div>
        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" *ngIf="isAccepetd === false">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cancel driver</h5>
                <button type="button" id="close" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Reason</span>
                    </div>
                    <textarea [(ngModel)]="reason" class="form-control" aria-label="With textarea"></textarea>
                </div>
                <div style="display: flex; justify-content: space-between; align-self: center;">
                    <div>
                        <span>Configuración en db</span>
                        <div class="icon-container" *ngIf="isUpdateDb === true">
                            <i style="color: green; font-size: 50px;" class="far fa-check-circle"></i>
                        </div>
                        <div class="icon-container" *ngIf="isUpdateDb === false">
                            <i style="color: red;font-size: 50px;" class="far fa-times-circle"></i>
                        </div>
                    </div>
                    <div>
                        <span>Enviando correo</span>
                        <div class="icon-container" *ngIf="isSendEmail === true">
                            <i style="color: green;font-size: 50px;" class="far fa-check-circle"></i>
                        </div>
                        <div class="icon-container" *ngIf="isSendEmail === false">
                            <i style="color: red;font-size: 50px;" class="far fa-times-circle"></i>
                        </div>
                    </div>
                    <div>
                        <span>Enviando correo</span>
                        <div class="icon-container" *ngIf="isSendNotification === true">
                            <i style="color: green;font-size: 50px;" class="far fa-check-circle"></i>
                        </div>
                        <div class="icon-container" *ngIf="isSendNotification === false">
                            <i style="color: red;font-size: 50px;" class="far fa-times-circle"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="driveDeny()">Send</button>
            </div>
        </div>
        <div class="modal-content" *ngIf="isAccepetd === true">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Estado de acceptación</h5>
                <button type="button" id="close" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div style="display: flex; justify-content: space-between; align-self: center;">
                    <div>
                        <span>Configuración en db</span>
                        <div class="icon-container" *ngIf="isUpdateDb === true">
                            <i style="color: green; font-size: 50px;" class="far fa-check-circle"></i>
                        </div>
                        <div class="icon-container" *ngIf="isUpdateDb === false">
                            <i style="color: red;font-size: 50px;" class="far fa-times-circle"></i>
                        </div>
                    </div>
                    <div>
                        <span>Enviando correo</span>
                        <div class="icon-container" *ngIf="isSendEmail === true">
                            <i style="color: green;font-size: 50px;" class="far fa-check-circle"></i>
                        </div>
                        <div class="icon-container" *ngIf="isSendEmail === false">
                            <i style="color: red;font-size: 50px;" class="far fa-times-circle"></i>
                        </div>
                    </div>
                    <div>
                        <span>Enviando correo</span>
                        <div class="icon-container" *ngIf="isSendNotification === true">
                            <i style="color: green;font-size: 50px;" class="far fa-check-circle"></i>
                        </div>
                        <div class="icon-container" *ngIf="isSendNotification === false">
                            <i style="color: red;font-size: 50px;" class="far fa-times-circle"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="driveAccepted()">Send</button>
            </div>
        </div>
    </div>
</div>