<div class="row">
    <div class="col-12">
        <h4 class="m-b-20">Live Drivers</h4>
        <!-- Row -->
        <div class="row">
            <!-- Column -->
            <div class="col-lg-4 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="row p-t-10 p-b-10">
                            <!-- Column -->
                            <div class="col p-r-0">
                                <h1 class="font-light">{{available}}</h1>
                                <h6 class="text-muted">Drivers available</h6>
                            </div>
                            <!-- Column -->
                            <div class="col text-right align-self-center">
                                <div data-label="20%" class="css-bar m-b-0 css-bar-success css-bar-{{availablePercent}}">
                                    <i class="mdi mdi-account-circle"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-lg-4 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="row p-t-10 p-b-10">
                            <!-- Column -->
                            <div class="col p-r-0">
                                <h1 class="font-light">{{busy}}</h1>
                                <h6 class="text-muted">Drivers Busy</h6>
                            </div>
                            <!-- Column -->
                            <div class="col text-right align-self-center">
                                <div data-label="30%" class="css-bar m-b-0 css-bar-danger css-bar-{{busyPercent}}">
                                    <i class="mdi mdi-briefcase-check"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-lg-4 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="row p-t-10 p-b-10">
                            <!-- Column -->
                            <div class="col p-r-0">
                                <h1 class="font-light">{{inTrip}}</h1>
                                <h6 class="text-muted">Drivers in trip</h6>
                            </div>
                            <!-- Column -->
                            <div class="col text-right align-self-center">
                                <div data-label="40%" class="css-bar m-b-0 css-bar-warning css-bar-{{inTripPercent}}">
                                    <i class="mdi mdi-star-circle"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Column -->
        </div>
        <!-- End Row -->
    </div>
</div>

<div class="row">
    <!-- Column -->
    <div class="col-lg-12 col-xlg-12 col-md-11">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title" >Live map </h4>
                <agm-map [latitude]="28.844341" [longitude]="-82.012881" [zoom]="7" #map1>
                    <ng-container *ngFor="let available of availableData">
                        <!-- Available markers -->
                        <agm-marker [latitude]="available.l[0]" [longitude]="available.l[1]" [iconUrl]="icon">
                            <agm-info-window #infoWindow [maxWidth]="400" class="fadeIn animated">
                                <div class="card" style="width: 18rem;">
                                    <div class="card-body" style="text-align: center;">
                                        <button class="btn btn-outline-success" [routerLink]="['/profile/driverprofile/', available.key]">View Profile</button>
                                    </div>
                                </div>
                            </agm-info-window>
                        </agm-marker>
                    </ng-container>
                    <!-- busy marker -->
                    <ng-container *ngFor="let busy of busyData">
                        <agm-marker [latitude]="busy.l[0]" [longitude]="busy.l[1]"></agm-marker>
                    </ng-container>
                </agm-map>
            </div>
        </div>
    </div>
</div>