<div class="card">
    <div class="card-body">
        <div class="d-md-flex align-items-center" style="justify-content: space-between;">
            <div>
                <h4 class="card-title">Customers in trip</h4>
            </div>
            <div>
                <button class="btn btn-outline-success" [routerLink]="['/maps/onlive']">Go live</button>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table v-middle">
            <thead>
                <tr class="bg-light">
                    <th class="border-top-0">Customers</th>
                    <th class="border-top-0">Driver</th>
                    <th class="border-top-0">Date start</th>
                    <th class="border-top-0">Expect time Travel</th>
                    <th class="border-top-0">Payment Status</th>
                    <th class="border-top-0">Price Trip</th>
                    <th class="border-top-0">State Trip</th>
                    <th class="border-top-0">Action</th>
                </tr>
            </thead>
            <tbody *ngIf="tripAndDrivers">
                <tr *ngFor="let tripAndDriver of tripAndDrivers" [ngSwitch]="tripAndDriver.state">
                    <td>
                        <div class="d-flex align-items-center">
                            <div class="m-r-10">
                                <a class="btn btn-circle btn-info text-white">EA</a>
                            </div>
                            <div class="">
                                <h4 class="m-b-0 font-14">{{tripAndDriver.passengerUid | slice:0:5}}</h4>
                            </div>
                        </div>
                    </td>
                    <td>{{tripAndDriver.driverUid | slice:0:5}}</td>
                    <td>{{tripAndDriver.dateStart}}</td>
                    <td>
                        {{tripAndDriver.expectTimeTravel}}
                    </td>
                    <td>{{tripAndDriver.paymentStatus}}</td>
                    <td>
                        <h5 class="m-b-0">{{tripAndDriver.priceTrip}}</h5>
                    </td>
                    <td>
                        <h5 class="m-b-0 states" *ngSwitchCase="0">Looking for driver</h5>
                        <h5 class="m-b-0 states" *ngSwitchCase="1">Accepted trip</h5>
                        <h5 class="m-b-0 states" *ngSwitchCase="2">Driver arrived</h5>
                        <h5 class="m-b-0 states" *ngSwitchCase="3">Trip in progress</h5>
                        <h5 class="m-b-0 states" *ngSwitchCase="4">Arrived at dest</h5>
                        <h5 class="m-b-0 states" *ngSwitchCase="5">Trip finished</h5>
                    </td>
                    <td>
                        <button class="btn btn-outline-info"
                            [routerLink]="['/maps/maps/', tripAndDriver.passengerUid]">View trip</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>