<div class="card">
    <div class="card-body">
        <!-- title -->
        <div class="d-md-flex align-items-center">
            <div>
                <h4 class="card-title">Users in trip</h4>
                <h5 class="card-subtitle">In trip</h5>
            </div>
        </div>
        <!-- title -->
    </div>
    <div class="table-responsive">
        <table class="table v-middle">
            <thead>
                <tr class="bg-light">
                    <th class="border-top-0">User</th>
                    <th class="border-top-0">Driver</th>
                    <th class="border-top-0">Destination</th>
                    <th class="border-top-0">Distance</th>
                    <th class="border-top-0">Expect Time</th>
                    <th class="border-top-0">Earnings</th>
                </tr>
            </thead>
            <tbody *ngIf="tripAndDrivers">
                <tr *ngFor="let tripAndDriver of tripAndDrivers">
                    <td>
                        <div class="d-flex align-items-center">
                            <div class="m-r-10">
                                <a class="btn btn-circle btn-info text-white">EA</a>
                            </div>
                            <div class="">
                                <h4 class="m-b-0 font-16">{{tripAndDriver.passengerInfo.Name}}</h4>
                            </div>
                        </div>
                    </td>
                    <td>{{tripAndDriver.driverInfo.Name}}</td>
                    <td>{{tripAndDriver.destinationName}}</td>
                    <td>
                        <label>{{tripAndDriver.distanceInMeter}}</label>
                    </td>
                    <td>{{tripAndDriver.expectTimeTravel}}</td>
                    <td>
                        <h5 class="m-b-0">${{tripAndDriver.priceTrip}}</h5>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>