<div class="card">
    <div class="card-body">
        <div class="d-md-flex align-items-center" style="justify-content: space-between;">
            <div>
                <h4 class="card-title">Customers in trip</h4>
            </div>
            <div>
                <button class="btn btn-outline-success" [routerLink]="['/maps/onlive']">Go live</button>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table v-middle">
            <thead>
                <tr class="bg-light">
                    <th class="border-top-0">Customers</th>
                    <th class="border-top-0">Driver</th>
                    <th class="border-top-0">Destination</th>
                    <th class="border-top-0">Distance</th>
                    <th class="border-top-0">Expect Time</th>
                    <th class="border-top-0">Price Trip</th>
                    <th class="border-top-0">Action</th>
                </tr>
            </thead>
            <tbody *ngIf="tripAndDrivers">
                <tr *ngFor="let tripAndDriver of tripAndDrivers">
                    <td>
                        <div class="d-flex align-items-center">
                            <div class="m-r-10">
                                <a class="btn btn-circle btn-info text-white">EA</a>
                            </div>
                            <div class="">
                                <h4 class="m-b-0 font-14">{{tripAndDriver.passengerInfo.Name}} {{tripAndDriver.passengerInfo.LastName}}</h4>
                            </div>
                        </div>
                    </td>
                    <td>{{tripAndDriver.driverInfo.Name}}</td>
                    <td>{{tripAndDriver.destinationName}}</td>
                    <td>
                        distance
                    </td>
                    <td>time</td>
                    <td>
                        <h5 class="m-b-0">price</h5>
                    </td>
                    <td>
                        <button class="btn btn-outline-info" [routerLink]="['/maps/maps/', tripAndDriver.key]">View trip</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>