<div class="row">
    <!-- Column -->
    <div class="col-lg-4 col-xlg-3 col-md-5">
        <div class="card">
            <div class="card-body" *ngIf="driver">
                <input #inputView type="text" value="3">
                <div class="m-t-30 text-center">
                    <img [src]="driver.profileImageUrl" class="rounded-circle" width="150" height="150" />
                    <h4 class="card-title m-t-10">{{driver.Name}} {{driver.LastName}}</h4>
                    <h6 class="card-subtitle">Driver Account</h6>
                </div>
            </div>
            <div>
                <hr>
            </div>
            <div class="card-body" *ngIf="driver">
                <small class="text-muted">Email address </small>
                <h6>{{driver.Email}}</h6>
                <small class="text-muted p-t-30 db">Phone</small>
                <h6>{{driver.PhoneNumber}}</h6>
                <small class="text-muted p-t-30 db">Joined since</small>
                <h6>{{driver.date}}</h6>
                <small class="text-muted p-t-30 db">Total Trips</small>
                <h6>{{totalTrips}}</h6>
                <small class="text-muted p-t-30 db">Total Earn</small>
                <h6>{{totalEarn | currency :'USD':'symbol':'1.0-3'}}</h6>
                <h5 class="m-t-30" style="margin: 5px 0;">Qualification
                    <span class="pull-right">{{ratingAverage}}%</span>
                </h5>
                
                <div class="progress">
                    <div #progressBarView class="progress-bar bg-success" role="progressbar" aria-valuenow="80"
                        aria-valuemin="0" aria-valuemax="100" id="progressBarView" style="width: 80% ;height:6px;">
                        <span class="sr-only">1000000000000000ks0% Complete</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <div class="col-lg-8 col-xlg-9 col-md-7">
        <div class="card">
            <ngb-tabset type="pills" class="custom-pills">
                <ngb-tab title="Trips">
                    <ng-template ngbTabContent>
                        <div class="card-body">
                            <ng-container *ngIf="flag; else noTrip">
                                <div class="profiletimeline" *ngIf="tripsAndPassengers">
                                    <div class="sl-item" *ngFor="let trip of tripsAndPassengers">
                                        <div class="sl-left">
                                            <img [src]="trip.passengerInfo.profileImageUrl" alt="user"
                                                class="rounded-circle driver-image" />
                                        </div>
                                        <div class="sl-right">
                                            <div>
                                                <b><span>Passenger: </span></b>
                                                <a [routerLink]="['/profile/userprofile/', trip.passengerUid]"
                                                    class="link">{{trip.passengerInfo.Name}}
                                                    {{trip.passengerInfo.LastName}}</a> <br>
                                                <span>Date Start: </span> <span class="sl">{{trip.dateStart}}</span>
                                                <br>
                                                <span>Date Finished: </span> <span
                                                    class="sl">{{trip.dateFinished}}</span>
                                                <br>
                                                <span style="margin-left: 5px;">Earn: </span> <span
                                                    class="sl">{{trip.priceTrip | currency :'USD':'symbol':'1.0-3'}}</span>
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-10 col-xs-12">
                                                        <agm-map [latitude]="trip.destinationCoordinatesLatitude"
                                                            [longitude]="trip.destinationCoordinatesLongitude"
                                                            [zoom]="12" #map1>
                                                            <agm-marker [latitude]="trip.destinationCoordinatesLatitude"
                                                                [longitude]="trip.destinationCoordinatesLongitude"
                                                                [iconUrl]="iconDest"></agm-marker>
                                                            <agm-marker [latitude]="trip.pickupCoordinatesLatitude"
                                                                [longitude]="trip.pickupCoordinatesLongitude"
                                                                [iconUrl]="iconOrigin"></agm-marker>
                                                        </agm-map>
                                                        <a [routerLink]="['/profile/trip/', trip.key]" id="anclaTrip"
                                                            class="btn">
                                                            view full trip</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                    </div>
                                </div>
                            </ng-container>
                            <ng-template #noTrip>
                                <div>
                                    <figure style="text-align: center;">
                                        <img src="../../../assets/img/noTripsImage.png" alt="no-imgtrip" width="250">
                                    </figure>
                                </div>
                                <div style="text-align: center;">
                                    <b class="no-trips">NO TRIPS YET</b>
                                </div>
                            </ng-template>
                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="Info">
                    
                    <ng-template ngbTabContent>
                        <div class="card-body">
                            <hr>
                            <h4 class="font-medium m-t-20">Driver License</h4>
                            <div class="col-lg-12 col-md-12 m-b-20 contenedor-imagen">
                                <img [src]="driver.driverLicenseImageUrl" class="imgclass" />
                            </div>
                            

                            <!-- <h5 class="m-t-30">HTML 5
                                <span class="pull-right">90%</span>
                            </h5>
                            <div class="progress">
                                <div class="progress-bar bg-info" role="progressbar" aria-valuenow="90"
                                    aria-valuemin="0" aria-valuemax="100" style="width:90%; height:6px;">
                                    <span class="sr-only">50% Complete</span>
                                </div>
                            </div>
                            <h5 class="m-t-30">jQuery
                                <span class="pull-right">50%</span>
                            </h5>
                            <div class="progress">
                                <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="50"
                                    aria-valuemin="0" aria-valuemax="100" style="width:50%; height:6px;">
                                    <span class="sr-only">50% Complete</span>
                                </div>
                            </div>
                            <h5 class="m-t-30">Photoshop
                                <span class="pull-right">70%</span>
                            </h5>
                            <div class="progress">
                                <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="70"
                                    aria-valuemin="0" aria-valuemax="100" style="width:70%; height:6px;">
                                    <span class="sr-only">50% Complete</span>
                                </div>
                            </div> -->
                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="Settings">
                    <ng-template ngbTabContent>
                        <div class="card-body">
                            <form class="form-horizontal form-material" [formGroup]="form"
                                (ngSubmit)="saveProduct($event)">
                                <div class="form-group">
                                    <label class="col-md-12">Name</label>
                                    <div class="col-md-12">
                                        <input type="text" class="form-control form-control-line" name="Name"
                                            formControlName="Name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12">LastName</label>
                                    <div class="col-md-12">
                                        <input type="text" class="form-control form-control-line" name="Lastname"
                                            formControlName="LastName">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="example-email" class="col-md-12">Email</label>
                                    <div class="col-md-12">
                                        <input type="email" class="form-control form-control-line" name="example-email"
                                            id="example-email" formControlName="Email">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12">Phone No</label>
                                    <div class="col-md-12">
                                        <input type="text" placeholder="123 456 7890"
                                            class="form-control form-control-line" name="PhoneNumber"
                                            formControlName="PhoneNumber">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12">Driver Status</label>
                                    <div class="col-md-12">
                                        <select class="form-control form-control-line" id="exampleFormControlSelect1"
                                            name="driverStatus" formControlName="driverStatus">
                                            <option [value]="0">Available</option>
                                            <option [value]="1">Busy</option>
                                            <option [value]="2">In Trip</option>
                                            <option [value]="3">Block</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12">SSN</label>
                                    <div class="col-md-12">
                                        <input type="text" class="form-control form-control-line" name="SSN"
                                            formControlName="SSN">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12">Name bank</label>
                                    <div class="col-md-12">
                                        <input type="text" class="form-control form-control-line" name="NameBank"
                                            formControlName="NameBank">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12">Bank account</label>
                                    <div class="col-md-12">
                                        <input type="text" class="form-control form-control-line" name="BankAccount"
                                            formControlName="BankAccount">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12">State</label>
                                    <div class="col-md-12">
                                        <input type="number" class="form-control form-control-line" name="state"
                                            formControlName="state">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <button type="submit" class="btn btn-success" [disabled]="form.invalid">Update
                                            Profile</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>
    </div>
</div>