<div class="row">
    <!-- Column -->
    <div class="col-lg-6 col-xlg-6 col-md-5">
        <div class="card">
            <div class="card-body" *ngIf="tripAll">
                <h4 class="card-title">Map of Trip</h4>
                <agm-map [latitude]="tripAll.tripInfo.destinationCoordinatesLatitude"
                    [longitude]="tripAll.tripInfo.destinationCoordinatesLongitude" [zoom]="12" #map1>
                    <agm-marker [latitude]="tripAll.tripInfo.destinationCoordinatesLatitude"
                        [longitude]="tripAll.tripInfo.destinationCoordinatesLongitude" [iconUrl]="iconDest">
                    </agm-marker>
                    <agm-marker [latitude]="tripAll.tripInfo.pickupCoordinatesLatitude"
                        [longitude]="tripAll.tripInfo.pickupCoordinatesLongitude" [iconUrl]="iconOrigin"></agm-marker>
                    <agm-polyline>
                        <agm-polyline-point [latitude]="tripAll.tripInfo.destinationCoordinatesLatitude"
                            [longitude]="tripAll.tripInfo.destinationCoordinatesLongitude"></agm-polyline-point>
                        <agm-polyline-point [latitude]="tripAll.tripInfo.pickupCoordinatesLatitude"
                            [longitude]="tripAll.tripInfo.pickupCoordinatesLongitude"></agm-polyline-point>
                    </agm-polyline>
                </agm-map>
            </div>
        </div>
    </div>
    <!-- Column -->
    <div class="col-lg-6 col-xlg-6 col-md-7">
        <div class="card">
            <ngb-tabset type="pills" class="custom-pills">
                <ngb-tab title="Info Trip">
                    <ng-template ngbTabContent>
                        <div class="card-body">
                            <h4 class="card-title">Passenger Info</h4>
                            <div class="profiletimeline" *ngIf="tripAll">
                                <div class="sl-item">
                                    <div class="sl-left">
                                        <img [src]="tripAll.passengerInfo.profileImageUrl" alt="user"
                                            class="rounded-circle" height="40" width="40"/>
                                    </div>
                                    <div class="sl-right">
                                        <div>
                                            <a [routerLink]="['/profile/userprofile/', tripAll.tripInfo.passengerUid ]"
                                                class="link">{{tripAll.passengerInfo.Name}}
                                                {{tripAll.passengerInfo.LastName}}</a> <br>
                                            <span>Email: </span> <span
                                                class="sl-date">{{tripAll.passengerInfo.Email}}</span>
                                            <br>
                                            <span>Phone: </span> <span
                                                class="sl-date">{{tripAll.passengerInfo.PhoneNumber}}</span>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                            <h4 class="card-title">Driver Info</h4>
                            <div class="profiletimeline" *ngIf="tripAll">
                                <div class="sl-item">
                                    <div class="sl-left">
                                        <img [src]="tripAll.driverInfo.profileImageUrl" alt="user"
                                            class="rounded-circle" height="40" width="40"/>
                                    </div>
                                    <div class="sl-right">
                                        <div>
                                            <a [routerLink]="['/profile/driverprofile/', tripAll.tripInfo.driverUid ]"
                                                class="link">{{tripAll.driverInfo.Name}}
                                                {{tripAll.driverInfo.LastName}}</a> <br>
                                            <span>Email: </span> <span
                                                class="sl-date">{{tripAll.driverInfo.Email}}</span>
                                            <br>
                                            <span>Phone: </span> <span
                                                class="sl-date">{{tripAll.driverInfo.PhoneNumber}}</span>
                                            <br>
                                            <span>SSN: </span> <span class="sl-date">{{tripAll.driverInfo.SSN}}</span>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                            <h4 class="card-title">Trip Info</h4>
                            <div class="profiletimeline" *ngIf="tripAll">
                                <div class="sl-item">
                                    <div class="sl-left">
                                        <img src="../../../assets/img/YourDriver.png" alt="user" class="rounded-circle"
                                            height="40" />
                                    </div>
                                    <div class="sl-right">
                                        <div>
                                            <span>Date start: </span> <span
                                                class="sl-date">{{tripAll.tripInfo.dateStart}}</span>
                                            <br>
                                            <span>Date finish: </span> <span
                                                class="sl-date">{{tripAll.tripInfo.dateFinished}}</span>
                                            <br>
                                            <span>Distance: </span> <span
                                                class="sl-date">{{tripAll.tripInfo.distanceInMeter}}<sub>m</sub></span>
                                            <br>
                                            <span>Time trip: </span> <span
                                                class="sl-date">{{tripAll.tripInfo.timeTrip}}</span>
                                            <br>
                                            <span>Price trip: </span> <span
                                                class="sl-date">{{tripAll.tripInfo.priceTrip | currency :'USD':'symbol':'1.0-3'}}</span>
                                            <br>
                                            <span>TIP: </span> <span
                                                class="sl-date">{{tripAll.tripInfo.TIP | currency :'USD':'symbol':'1.0-3'}}</span>
                                            <br>
                                            <span>ID Payment: </span> <span
                                                class="sl-date">{{tripAll.tripInfo.payment_Id}}</span>
                                        </div>
                                    </div>
                                    <span *ngIf="tripAll.tripInfo.review">Review: </span>
                                    <div class="contenedor-badge" *ngIf="tripAll.tripInfo.review">
                                        <ng-container *ngFor="let review of tripAll.tripInfo.review"
                                            [ngSwitch]="review">
                                            <span class="badge badge-success badge"
                                                *ngSwitchCase="'Excellent Driver'">{{review}}</span>
                                            <span class="badge badge-success badge"
                                                *ngSwitchCase="'Drive Carefully'">{{review}}</span>
                                            <span class="badge badge-success badge"
                                                *ngSwitchCase="'Friendly'">{{review}}</span>
                                            <span class="badge badge-danger badge"
                                                *ngSwitchCase="'Rude'">{{review}}</span>
                                            <span class="badge badge-danger badge"
                                                *ngSwitchCase="'Driver Fast'">{{review}}</span>
                                            <span class="badge badge-info badge" *ngSwitchDefault>{{review}}</span>
                                        </ng-container>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>
    </div>
</div>