// .line-chart {
// 	max-width: 130px; 
// 	height: 15px;
// }

// .ancla-icono{
// 	width: 30px;
// 	height: 30px;
// 	color: white;
// }
// .img {
// 	width: inherit;
// 	height: inherit;
// 	background-color: black;
// }

.card-group {
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.52);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.52);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.52);
	border-radius: 10px;
}