<div class="card-group">
    <!-- Card -->
    <div class="card card-1">
        <div class="card-body">
            <div class="d-flex align-items-center">
                <div class="m-r-10">
                    <span class="btn btn-circle btn-lg" style="background-color: #2962FF;">
                        <a [routerLink]="['/tables/pendingdriverstrable']" style="width: 30px; height: 30px;">
                            <img class="img" src="../../../../assets//iconos-mainscreen/request.svg" alt="icono1" width="30" height="30">
                        </a>
                    </span>
                </div>
                <div>
                    Job applications
                </div>
                <div class="ml-auto">
                    <h2 class="m-b-0 font-light">{{driversPending}}</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- Card -->
    <!-- Card -->
    <div class="card">
        <div class="card-body">
            <div class="d-flex align-items-center">
                <div class="m-r-10">
                    <span class="btn btn-circle btn-lg" style="background-color: black;">
                        <a [routerLink]="['/tables/drivertable']" style="width: 30px; height: 30px;">
                            <img class="img" src="../../../../assets//iconos-mainscreen/totalDrivers.svg" alt="icono1" width="30" height="30">
                        </a> 
                    </span>
                </div>
                <div>
                    Total drivers
                </div>
                <div class="ml-auto">
                    <h2 class="m-b-0 font-light">{{driversActives}}</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- Card -->
    <!-- Card -->
    <div class="card">
        <div class="card-body">
            <div class="d-flex align-items-center">
                <div class="m-r-10">
                    <span class="btn btn-circle btn-lg" style="background-color: black;">
                        <a [routerLink]="['/tables/usertable']" style="width: 30px; height: 30px;">
                            <img class="img" src="../../../../assets//iconos-mainscreen/totalUsers.svg" alt="icono1" width="30" height="30">
                        </a>
                    </span>
                </div>
                <div>
                    Total customers
                </div>
                <div class="ml-auto">
                    <h2 class="m-b-0 font-light">{{totalUsers}}</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- Card -->
    <!-- Card -->
    <div class="card">
        <div class="card-body">
            <div class="d-flex align-items-center">
                <div class="m-r-10">
                    <span class="btn btn-circle btn-lg" style="background-color: black;">
                        <a [routerLink]="['/tables/historytripstable']" style="width: 30px; height: 30px;">
                            <img class="img" src="../../../../assets//iconos-mainscreen/TotalTrips.svg" alt="icono1" width="30" height="30">
                        </a>
                    </span>
                </div>
                <div>
                    Total trips
                </div>
                <div class="ml-auto">
                    <h2 class="m-b-0 font-light">{{totalTrips}}</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- Card -->
    <!-- Column -->
</div>

<!-- Columna abajo -->
<div class="card-group">
    <div class="card">
        <div class="card-body">
            <div class="d-flex align-items-center">
                <div class="m-r-10">
                    <span class="btn btn-circle btn-lg" style="background-color: black;">
                        <a [routerLink]="['/tables/pendingdriverstrable']" style="width: 28px; height: 28px;">
                            <img class="img" src="../../../../assets//iconos-mainscreen/Profits.svg" alt="icono1" width="28" height="28">
                        </a>
                    </span>
                </div>
                <div>
                    Profits
                </div>
                <div class="ml-auto">
                    <h2 class="m-b-0 font-light">{{totalPrice}}</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="d-flex align-items-center">
                <div class="m-r-10">
                    <span class="btn btn-circle btn-lg" style="background-color: black;">
                        <a [routerLink]="['/maps/onlive']" style="width: 30px; height: 30px;">
                            <img class="img" src="../../../../assets//iconos-mainscreen/DriverAvailable.svg" alt="icono1" width="30" height="30">
                        </a>
                    </span>
                </div>
                <div>
                    Drivers Available
                </div>
                <div class="ml-auto">
                    <h2 class="m-b-0 font-light">{{driversAvaible}}</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="d-flex align-items-center">
                <div class="m-r-10">
                    <span class="btn btn-circle btn-lg" style="background-color: black;">
                        <a [routerLink]="['/maps/onlive']" style="width: 30px; height: 30px;">
                            <img class="img" src="../../../../assets/iconos-mainscreen/DriverBusy.svg" alt="icono1" width="30" height="30">
                        </a>
                    </span>
                </div>
                <div>
                    Drivers busy
                </div>
                <div class="ml-auto">
                    <h2 class="m-b-0 font-light">{{driversBusy}}</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="d-flex align-items-center">
                <div class="m-r-10">
                    <span class="btn btn-circle btn-lg" style="background-color: black;">
                        <a [routerLink]="['/tables/pendingdriverstrable']" style="width: 30px; height: 30px;">
                            <img class="img" src="../../../../assets//iconos-mainscreen/TripCanceled.svg" alt="icono1" width="30" height="30">
                        </a>
                    </span>
                </div>
                <div>
                    Trip cancel
                </div>
                <div class="ml-auto">
                    <h2 class="m-b-0 font-light">{{totalTrips}}</h2>
                </div>
            </div>
        </div>
    </div>
</div>